/* Page Background */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(120deg, #4facfe, #00f2fe);
  height: 100vh;
}

/* Center Form */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card */
.login-card {
  background: white;
  width: 350px;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  text-align: center;
}

/* Title */
.login-card h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Inputs */
.login-card input {
  width: 80%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  font-size: 14px;
}

.login-card input:focus {
  border-color: #4facfe;
}

/* Button */
.login-card button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #4facfe;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-card button:hover {
  background: #00c6ff;
}

/* Small Text */
.login-card p {
  margin-top: 15px;
  font-size: 13px;
}

.login-card a {
  color: #4facfe;
  text-decoration: none;
}

.login-card a:hover {
  text-decoration: underline;
}
